body{
    background-color: #eee;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
#header{
    display: flex;
    padding-top: 20px;
    padding-right: 40px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #eee;
   
}
#header-img{
    width: 300px;
}
#nav-bar {
    text-align: right;
    width: 90%;
    padding-right: 30px;
}
#nav-bar li{
    text-decoration: none;
    display: inline-block;
    padding-left: 50px;
}
#top{
    text-align: center;
    padding-top: 50px;
}
input{
    margin: 10px 0;
}
#email{
    line-height: 25px;
    width: 300px;
}
#main{
    text-align: center;
}
#submit{
    background-color: #f1c40f;
    font-size: 18px;
    border: none;
    padding: 10px;
    font-weight: bold;
}
#features{
    width: 70%;
    margin: 0 20%;
    text-align: left;
    padding-left: 50px;
    display: block;
}
.grid{
    display: flex;

}
.description{
    width: 70%;
}
.icon{
    width: 10%;
    margin-right: 30px;
    color: darkorange;
}

#pricing {
    display: flex;
    flex-direction: row;
    justify-content:center;
}
#first, #middle, #last{
    border: 1px solid black;
    width: 200px;
    margin: 2%;
    text-align: center;
}
#button{
    background-color: #f1c40f;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
}
#title{
    background-color: #ddd;
    width: 100%;
    margin-top: 0;
    line-height: 3;
    font-weight: bold;
}
#youtube{
    margin-top: 50px;
    text-align: center;
}

#video{
    margin-top: 50px;
    text-align: center;
}
footer{
    text-align: right;
    background-color: #ddd;
    height: 100px;
    padding-top:20px;
    padding-right: 10px;
    width: 60%;
    margin: 0 auto;
}

footer ul li{
    list-style: none;  
    display: inline-block; 
    font-weight: bold;
    padding-left: 10px;
}

@media only screen and (max-width: 600px) {
    #pricing{
        flex-direction: column;
        margin: 0 auto;
    }
  }